
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
    
*
    padding: 0

body
    margin: 0px
    font-family: 'Roboto', sans-serif

.fullscreen
    height: 100vh
    width: 100vw

.du-about
    background-image: url("../img/DU-about.jpg")
    background-size: cover
    background-position: center
    display: grid
    padding: 40px
    box-sizing: border-box
    grid-template-rows: 150px auto


.vk-button
    height: 70px
    width: 240px
    background-color: #4D7198
    border-radius: 35px
    display: grid
    grid-template-columns: 1fr 70px
    align-items: center
    vertical-align: bottom
    margin-left: auto
    margin-right: auto
    margin-top: auto
    box-shadow: 0px 3px 5px rgba(0,0,0,0.3)

    p
        text-align: right
        grid-column: 1
        font-size: 1.5em
        font-weight: 900
        color: white
        padding-right: 10px
    
    img
        width: 40px
        color: white

    &:hover
        background-color: #43668C
        cursor: pointer

    &:active
        box-shadow: 0px 0px 0px black;
        

.logo
    background-image: url("../img/logo.png")
    background-size: cover
    width: 270px
    height: 150px

    @media (max-width: 900px)
        margin-left: auto
        margin-right: auto


.back-color
    background-color: #515C6B
    display: grid
    padding: 40px
    box-sizing: border-box
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 2fr

    @media (max-width: 720px)
        grid-template-columns: none
        grid-template-rows: 1fr 1fr

.group-logo
    height: 100px
    width: 400px
    background-color: #72849D
    border-radius: 50px
    justify-self: flex-end
    display: grid
    grid-template-columns: auto 100px
    animation: GroupIn 1s ease 1s 1 normal forwards

    @media (max-width: 720px)
        justify-self: center

    p
        margin-left: 20px
        margin-right: 20px
        margin-top: auto
        margin-bottom: auto
        color: rgba(255, 255, 255, 0)
        font-size: 1.4rem
        font-weight: 900
        text-align: center
        animation: TextIn 1s ease 2s 1 normal forwards


        @keyframes TextIn
            0%
                color: rgba(255, 255, 255, 0)
            100%
                color: rgba(255, 255, 255, 1)

                

    .group-photo
        border-radius: 50px
        height: 100px
        width: 100px
        background-image: url("../img/nejSb2C-1G4.jpg")
        background-size: cover
        justify-self: right

    @keyframes GroupIn
        0%
            width: 100px

            grid-template-columns: 0px 100px
        100%
            width: 400px 
            grid-template-columns: auto 100px

.groups-list
    grid-row: 2
    grid-column: 1/3
    justify-self: center
    border-radius: 20px
    background-color: white
    margin-bottom: auto
    padding: 10px 0px 10px 0px

    p 
        font-size: 1.5em
        font-weight: 500
        padding: 20px 30px 20px 30px
        margin: 0px

        &:hover
            background-color: rgba(0, 0, 0, 0.1)
            cursor: pointer
    

.back-color-light
    background-color: #ECECEC
    display: grid
    grid-template-columns: 200px auto
    grid-template-rows: 50px auto

    @media (max-width: 1024px)
        grid-template-columns: 60px auto

    .topbar
        background-color: white
        grid-row: 1
        grid-column: 1 / 3
        box-shadow: 0px 3px 6px rgba(0,0,0,0.2)
        display: flex
        flex-direction: row-reverse
        padding-right: 10px

        .settings
            border-radius: 15px
            margin: 10px
            width: 30px
            height: 30px
            background-color: black

        .profile-photo
            background-color: black
            margin: 10px
            width: 30px
            height: 30px
            border-radius: 15px


    .leftbar 
        background-color: #515C6B
        grid-row: 1 / 3
        grid-column: 1
        box-shadow: 0px 3px 6px rgba(0,0,0,0.2)
        display: grid
        grid-template-rows: 50px auto

        @media (max-width: 720px)
            grid-row: 1


        .hamburger-menu
            grid-row: 1
            height: 50px
            width: 60px
            padding: 10px
            box-sizing: border-box
            justify-self: right

            .image
                background-image: url("../img/hamburger.svg")
                background-size: cover
                background-position: center
                height: 100%

            &:hover
                background-color: rgba(255,255,255,0.5)

        @media (min-width: 720px)
            .menu
                grid-row: 2
                grid-column: 1
                align-self: center

                .item
                    height: 50px
                    padding-left: 10px
                    box-sizing: border-box
                    display: flex
                    cursor: pointer

                    &:hover
                        background-color: rgba(255,255,255,0.5)

                    p
                        color: white
                        text-align: center
                        font-size: 1rem
                        margin-left: 10px
                        font-weight: 500

                    .icon
                        background-image: url("../img/menu/table.svg")
                        background-size: cover
                        background-position: center
                        height: 30px
                        width: 30px
                        margin: 10px



    .work-zone
        grid-row: 2
        grid-column: 2

        @media (max-width: 720px)
            grid-column: 1/3

        margin: 40px
        background-color: white
        border-radius: 20px
        box-shadow: 0px 3px 6px rgba(0,0,0,0.2)

        .topbar
            background-color: #515C6B
            border-radius: 20px 20px 0px 0px
            height: 50px