.logo 
  height: 60px
  margin: 16px
  background-image: url("../../logo.png")
  background-size: contain
  background-repeat: no-repeat
  background-position-x: center

.site-layout-sub-header-background 
  background: #fff

.site-layout-background
  background: #fff